*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/tmp
/yarn.lock
node_modules
.infernorc
.infernorc.json
.infernorc.yaml
.infernorc.yml
.infernorc.js
.infernorc.cjs
sample.inferno.config.js
inferno.config.cjs
